<table>
  <tr *ngFor="let row of [1, 2, 3, 4, 5, 6, 7, 8, 9]" class="row_{{row}}">
    <td *ngFor="let col of [1, 2, 3, 4, 5, 6, 7, 8, 9]" class="col_{{col}}">
      <button mat-button [ngClass]="app.fieldCssClasses[row][col]" [disabled]="!app.isUserDefined && app.grid[row][col] !==undefined"
        (click)="app.fieldClicked(row, col); tooltip.hide()" #tooltip="matTooltip" matTooltip="{{app.fieldCssClasses[row][col].onlyOnePossibleDigit ? ('onlyOnePossibleDigit.tooltip' | translate) : undefined }}"
        matTooltipShowDelay="1000" matTooltipPosition="above" [@fieldAnimator]="app.fieldStates[row][col]" (@fieldAnimator.done)="app.fieldStates[row][col]=undefined; tooltip.hide()"
        attr.aria-label="row: {{row}}, column: {{col}}">{{ app.grid[row][col] || '&nbsp;' }}</button>
    </td>
  </tr>
</table>
