<button mat-icon-button (click)="app.sidenav.open()" aria-label="menu">
  <mat-icon>menu</mat-icon>
</button>
<h1 *ngIf="app.isUserDefined">Sudoku</h1>
<div *ngIf="!app.isUserDefined">
  <button mat-button disabled (click)="app.showStatistics();" matTooltip="{{ 'score' | translate }}">
    {{ app.score }}
    <mat-icon>grade</mat-icon>
  </button>
  <button mat-button disabled matTooltip="{{ 'level' | translate }}">{{ 'level.' + app.level | translate }}</button>
  <button mat-button disabled *ngIf="!app.isSolved()" (click)="app.toggleTimer();" matTooltip="{{ 'pointsToWin' | translate }}">
    {{ app.pointsToWin }}
    <mat-icon>timer</mat-icon>
  </button>
</div>
<img style="border-radius: 50%;" *ngIf="app.auth.authState | async; let user; else favicon" [src]="user.photoURL || 'assets/no-photo.png'"
  alt="{{ user.displayName }}" matTooltip="{{ user.displayName }}" />
<ng-template #favicon>
  <button mat-icon-button (click)="app.login();" matTooltip="{{ 'login' | translate }}">
    <img src="angular-sudoku.svg" alt="{{ 'login' | translate }}" />
  </button>
</ng-template>
