<div *ngIf="!app.isSolved()">
  <button mat-button (click)="app.solveNext()">
    <mat-icon>help</mat-icon>
    {{ 'solveNext' | translate }}</button>
  <button mat-button (click)="app.solveAll()">
    <mat-icon>help_outline</mat-icon>
    {{ 'solveAll' | translate }}</button>
  <hr>
</div>

<button mat-button (click)="app.newGame()">
  <mat-icon>fiber_new</mat-icon>
  {{ 'newGame' | translate }}
</button>
<button mat-button (click)="app.ownGame()">
  <mat-icon>person_pin</mat-icon>
  {{ 'ownGame' | translate }}
</button>
<hr>

<button mat-button [matMenuTriggerFor]="themeMenu">
  <mat-icon>visibility</mat-icon>
  {{ 'theme' | translate }}
</button>
<mat-menu #themeMenu="matMenu" [overlapTrigger]="false">
  <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let t of app.themes" (click)="app.setTheme(t.name)" matTooltip="{{ 'theme.' + t.name | translate }}"
      [style.background-color]="t.backgroundColor">
      <button mat-button>
        <mat-icon *ngIf="t.name===app.currentTheme" [style.color]="t.primaryColor">check_circle</mat-icon>
        <mat-icon *ngIf="t.name!==app.currentTheme" [style.color]="t.primaryColor">fiber_manual_record</mat-icon>
        <mat-icon *ngIf="t.name===app.currentTheme" [style.color]="t.accentColor">check_circle</mat-icon>
        <mat-icon *ngIf="t.name!==app.currentTheme" [style.color]="t.accentColor">fiber_manual_record</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-menu>

<button mat-button *ngIf="app.auth.authState | async; let user; else unauthenticated" (click)="app.logout()" matTooltip="{{ user.displayName }}">
  <mat-icon>clear</mat-icon>
  {{ 'logout' | translate }}
</button>
<ng-template #unauthenticated>
  <button mat-button (click)="app.login()">
    <mat-icon>exit_to_app</mat-icon>
    {{ 'login' | translate }}
  </button>
</ng-template>
<hr>

<button mat-button (click)="app.about()">
  <mat-icon>info</mat-icon>
  {{ 'about' | translate }}
</button>
